<div class="sidebar col-xs-4 flex-center">
        <h1>Activities</h1><br/>
        <p>We work quickly, efficiently and correctly</p>
    </div>
<div class=" col-xs-8 ">
    <section class="main">
            <ul class="ch-grid">
                <li>
                    <div class="ch-item ch-img-1">
                        <div class="ch-info">
                            <a id="item1" href="">
                                <h3>Films</h3>
                                <p>by Dimitar Bezinski QUICKLY! GO THERE NOW</p>
                            </a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="ch-item ch-img-2">
                        <div class="ch-info">
                            <a id="item2" href="">
                                <h3>Pouches</h3>
                                <p>by Dimitar Bezinski QUICKLY! GO THERE NOW</p>
                            </a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="ch-item ch-img-3">
                        <div class="ch-info">
                            <a id="item3" href="">
                                <h3>Cutting Services</h3>
                                <p>by Dimitar Bezinski QUICKLY! GO THERE NOW</p>
                            </a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="ch-item ch-img-4">
                        <div class="ch-info">
                            <a id="item4" href="">
                                <h3>Printing Services</h3>
                                <p>by Dimitar Bezinski QUICKLY! GO THERE NOW</p>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </section>
        <div id="films" class="transparent">
            <h2>Films</h2>
            <p>We have on stock a large quantity and a wide range of films. Our customers can choose among films with: different composition - polyamide "PA", polyethylene "PE", polypropylene "PP", polyester, polystyrol; different thickness - from 20 to 1500 microns; different extra qualities for some of the filsm - ANTIFOG, PEEL, PERFORATION, EVOH; different structure - flexible, rigid; different coloms - transparent, dyed, Gold/Silver. We have special purpose suppliers for every single kind of the above mentioned films - Germany, Poland, Italy, Greece, Turkey etc. We place all the required certificates, valid in the EU, at our customer's disposal as well as highly professional advices in the packaging field. Another service which we provide concerning films is the PRINTING along with all its design and pre-printing preparations.</p>
        </div>
        <div id="pouches" class="transparent">
            <h2>Pouches</h2>
            <p>We have on stock a large quantity and a wide range of films. Our customers can choose among films with: different composition - polyamide "PA", polyethylene "PE", polypropylene "PP", polyester, polystyrol; different thickness - from 20 to 1500 microns; different extra qualities for some of the filsm - ANTIFOG, PEEL, PERFORATION, EVOH; different structure - flexible, rigid; different coloms - transparent, dyed, Gold/Silver. We have special purpose suppliers for every single kind of the above mentioned films - Germany, Poland, Italy, Greece, Turkey etc. We place all the required certificates, valid in the EU, at our customer's disposal as well as highly professional advices in the packaging field. Another service which we provide concerning films is the PRINTING along with all its design and pre-printing preparations.</p>
        </div>
        <div id="cutting" class="transparent">
            <h2>Cutting services</h2>
            <p>We have on stock a large quantity and a wide range of films. Our customers can choose among films with: different composition - polyamide "PA", polyethylene "PE", polypropylene "PP", polyester, polystyrol; different thickness - from 20 to 1500 microns; different extra qualities for some of the filsm - ANTIFOG, PEEL, PERFORATION, EVOH; different structure - flexible, rigid; different coloms - transparent, dyed, Gold/Silver. We have special purpose suppliers for every single kind of the above mentioned films - Germany, Poland, Italy, Greece, Turkey etc. We place all the required certificates, valid in the EU, at our customer's disposal as well as highly professional advices in the packaging field. Another service which we provide concerning films is the PRINTING along with all its design and pre-printing preparations.</p>
        </div>
        <div id="printing" class="transparent">
            <h2>Printing services</h2>
            <p>We have on stock a large quantity and a wide range of films. Our customers can choose among films with: different composition - polyamide "PA", polyethylene "PE", polypropylene "PP", polyester, polystyrol; different thickness - from 20 to 1500 microns; different extra qualities for some of the filsm - ANTIFOG, PEEL, PERFORATION, EVOH; different structure - flexible, rigid; different coloms - transparent, dyed, Gold/Silver. We have special purpose suppliers for every single kind of the above mentioned films - Germany, Poland, Italy, Greece, Turkey etc. We place all the required certificates, valid in the EU, at our customer's disposal as well as highly professional advices in the packaging field. Another service which we provide concerning films is the PRINTING along with all its design and pre-printing preparations.</p>
        </div>
</div>