<div class="sidebar col-xs-4 flex-center">
        <h1>Gondola</h1><br/>
        <p>We work quickly, efficiently and correctly</p>
    </div>
<div class="content col-xs-8 flex-center">
    <p class="transparent"> "Mitev, Gavrilova - Gondola"Partership is established at the beginning of 1992 and its main activity is production and trade with films and their products, meant for packing goods. Our company has at its disposal the neccessary material and technical foundation, as well as highly skilled staff, to satisfy the market with vacuum packings, packings for MAP and atmosphere environment. Our products respond to all the sanitary requirements, available in the European union, for packing food products for meatmanufacturing industry, dairymanufacturing industry, grainmanufacturing industry and other industries.
	The vacuum packing that we produce can be used in every other production that requires long-lasting preservation.
    Our customers are one of the biggest producers of meat and dairy foodstuffs in Bulgaria. Part of out production field is manufactured for export in some EU countries as well as for the Balkan Peninsula.</p>
         
</div>