<div class="sidebar col-xs-4 flex-center">
        <h1>New Products</h1><br/>
        <p>We work quickly, efficiently and correctly</p>
    </div>
<div class="content col-xs-8">
    <div class="transparent margin-top">
    	<h1>Colored vacuum film</h1>
    	<p> Colored transparent lidding PA/PE film, suitable both for vacuum lines and vacuum pouches. Available in our warehause in Veliko Tarnovo - yellow, orange and blue color. The dimentions are at your wishes!</p>
     
		<div class="row ">
		  	<div class="col-xs-4 col-md-4">
		  		<img src="images/new_products1.jpg" class="img-responsive" alt="Logo">
		  	</div>
		  	<div class="col-xs-4 col-md-4">
		  		<img src="images/new_products1.jpg" class="img-responsive" alt="Logo">
		  	</div>
		  	<div class="col-xs-4 col-md-4">
		  		<img src="images/new_products1.jpg" class="img-responsive" alt="Logo">
		  	</div>
		</div>

		<h1>PP film for MAP atmosphere</h1>
    	<p> Film for PP trays with gas barrier EVOH and ANTI FOG.</p>
     
		<div class="row ">
		  	<div class="col-xs-4 col-md-4">
		  		<img src="images/new_products.jpg" class="img-responsive" alt="Logo">
		  	</div>
		  	<div class="col-xs-4 col-md-4">
		  		<img src="images/new_products.jpg" class="img-responsive" alt="Logo">
		  	</div>
		  	<div class="col-xs-4 col-md-4">
		  		<img src="images/new_products.jpg" class="img-responsive" alt="Logo">
		  	</div>
		</div>
	</div>
         
</div>
    



